.main-header {
  height: 400px;
  width: 100%;
  display: flex;
  justify-content: center;
  align-items: center;
  flex-direction: column;
  background-color: #008c41;
  background-image: url("https://www.transparenttextures.com/patterns/asfalt-light.png");
  /* padding-top: 80px; */
  margin: 120px 0 0 0;
}

.main-header h2 {
  margin: -25px 0 0 0;
  padding: 0;
}


