.container {
  width: 90%;
  background-color: #f4f1ec;
  align-items: center;
  margin: 0 auto;
}

.new-tweet form {
  display: flex;
  flex-direction: column;
}

.new-tweet div {
  display: flex;
  justify-content: space-between;
}

.tweet-text {
  background-color: #f4f1ec;
  border: hidden;
  border-bottom: 3px solid black;
  margin-bottom: 5px;
}


div button {
  background-color: #4056A1;
  color: white;
  font-family: 'Bungee', cursive;
}

.counter {
  font-family: 'Bungee', cursive;
}

.tweet{
  border-style: solid;
  margin-top: 20px;
}

.tweet header {
  display: flex;
  flex-direction: row;
  justify-content: space-between;
}

.tweet form {
  display: flex;
  flex-direction: column;
}


.tweet footer {
  display: flex;
  flex-direction: row;
  justify-content: space-between;
  align-items: center;
}

.tweet i:hover {
  color: yellow;
}