.container {
  width: 90%;
  background-color: #f4f1ec;
  align-items: center;
  margin: 0 auto;
}

.new-tweet form {
  display: flex;
  flex-direction: column;
}

.new-tweet div {
  display: flex;
  justify-content: space-between;
}

.tweet-text {
  background-color: #f4f1ec;
  border: hidden;
  border-bottom: 3px solid black;
  margin-bottom: 5px;
  padding-bottom: 0.5em;
}

div button {
  background-color: #4056a1;
  color: white;
  font-family: "Bungee", cursive;
}

.counter {
  font-family: "Bungee", cursive;
}

.tweet {
  border-style: solid;
  margin-top: 20px;
  padding: 1rem;
  box-shadow: 3px 3px;
  margin-top: 20px;
}

.tweet:hover {
  box-shadow: 5px 5px #008a3c;
}

#tweets-container {
  margin-top: 40px;
}

.tweet header {
  display: flex;
  flex-direction: row;
  justify-content: space-between;
  align-items: center;
  width: 100%;
}

.tweet form {
  display: flex;
  flex-direction: column;
}

.tweet footer {
  display: flex;
  flex-direction: row;
  justify-content: space-between;
  align-items: center;
}

.tweet i:hover {
  color: #008a3c;
}

.avatar-username {
  display: flex;
  align-items: center;
  justify-content: center;
}
